
<div>
    <div class="container">
        <!-- <div class="col s12 m6"> -->


        <div class="card" layout-col align-center>
            <!-- <div> -->
            <div class="card-image">
                <!-- {{tempImageInfo}} -->
                <img ng-show="!!tempImageInfo" ng-src="{{tempImageInfo.scaled500}}" />
            </div>
            <div layout-padding class="card-content black-text">
                <!-- <div flex class="deep-purple lighten-4 card-content black-text" flex="50"> -->

                <center>

                    <!-- <span class="card-title">Create Auction</span> -->
                    <div  layout-padding>
                        <!-- <a class="waves-effect waves-light btn-large" ng-click="addImage()">Add Image</a>-->
                        <input
                        class="waves-effect waves-light btn-large"
                        uploadcare-widget
                        ng-model="object.image.info.uuid"
                        data-public-key="55a55d432aed473a7467"
                        data-tabs="file"
                        data-images-only="true"
                        data-preview-step="true"
                        data-clearable="true"
                        data-multiple="false"
                        data-crop="400:200"
                        on-upload-complete="onUCUploadComplete(info)"
                        on-widget-ready="onUCWidgetReady(widget)"
                        value="{{ vm.item.image.info.cdnUrl }}"

                        />
                    </div>
                    <ul>
                        <li>{{vm.item.id}}</li>
                        <li>{{vm.item.type}}</li>
                        <li>{{vm.item.strain}}</li>
                        <li>Remaining Quantity: {{vm.item.remaining_quantity}}</li>
                        <li>Usable Weight: {{vm.item.usable_weight}}</li>
                    </ul>
                    <!-- <div class="card-action"> -->
                    <div>
                        <ul>
                            <li>
                                <div class="input-field col s6">
                                    <input id="buyoutPrice" type="text" ng-model="vm.auction.buyoutPrice" class="validate">
                                    <label for="buyoutPrice" class="black-text">($) Price</label>
                                </div>

                            </li>

                        </ul>
                    </div>
                    <div>

                        <div>
                            <a class="waves-effect waves-light btn-large" ng-click="vm.createAuction()"> Create Listing</a>
                        </div>
                    </div>
                </center>
                <span ><a ng-click="vm.toAuction()"><i class="fa fa-angle-left"></i> Back</a></span>
            </div>
        </div>
        <md-toolbar ng-if="vm.error" class="red accent-4">
            <center layout-padding>{{vm.error}}</center>
        </md-toolbar>
    </div>
</div>

<!-- <pre>
{{vm.item | json}}
</pre> -->
